@if $toc {
  /* - Color____________________Définition et assignation des couleurs */
} @else {
  /* Définition et assignation des couleurs [settings]
  ========================================================================== */
}

// Définition
// @note Les couleurs sont nommées grâce à l'outil [Chir.ag’s Name that Color](http://chir.ag/projects/name-that-color/).

// Definition
$sail: #b4e1fa;
$blue: #0000f6;
$dodger-blue: #5b5bff;
$blue-ribbon: #006be6;
$endeavou: #0053B3;
$congress-blue: #003b80;
$navy-blue: #000091;
$prussian-blue: #00234d;
$white: #ffffff;
$gallery: #f0f0f0;
$alabaster: #f8f8f8;
$mystic: #ebeff3;
$alto: #e0e0e0;
$geyser: #c9d3df;
$cadet-blue: #adb9c9;
$regent-gray: #8393a7;
$blue-bayoux: #53657d;
$ebony-clay: #26353f;
$mine-shaft: #383838;
$cod-gray: #1c1c1c;
$jade: #03bd5b;
$tara: #daf5e7;
$yellow-orange: #ff9947;
$serenade: #fff0e4;
$punch: #d63626;
$sea-pink: #efaca6;

// Abbreviations
// - bgc => background-color
// - bgi => background-image
// - bdc => border-color
// - txt => text (color)
// - plh => placeholder (color)

// prettier-ignore
$theme-colors: (
  // Valeurs par défaut
  default-bdc: $geyser,
  default-bgc: $white,
  default-txt: $mine-shaft,
  default-box-shadow: $cod-gray,
  default-focus: $blue-ribbon,


  // Assignation [elements]
  checkbox--before-bgc: $navy-blue,
  input-txt: $cod-gray,
  input-bgc: $gallery,
  label-txt: $cod-gray,

  // Assignation [components]
  attribution-footer-link-txt: $blue-bayoux,
  button-bgc: $navy-blue,
  button-txt: $white,
  button--hover-bgc: rgba($blue, 0.5),
  button--active-bgc: rgba($dodger-blue, 0.5),
  button-secondary-bgc: transparent,
  button-secondary-txt: $navy-blue,
  button-secondary--hover-bgc: $gallery,
  button-secondary--active-bgc: $alto,
  nav-main-link-txt: $endeavou,
  nav-main-link-sm-txt: $cod-gray,
  nav-main-link-current-txt: $navy-blue,
  skip-bgc: $mystic,
  skip-link-txt: $congress-blue,
  topbar-service-link-txt: $cod-gray,
);
